@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-white-hover {
    filter: none;
    transition: filter 0.3s ease-in-out;
}
.group:hover .logo-white-hover {
    filter: brightness(0) invert(1);
}

.bg-primary:hover .logo-white-hover {
    filter: brightness(0) invert(1);
}

.invert-brightness {
    filter: brightness(0) invert(1);
}

.tesla-card {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.tesla-card:hover {
    background-color: rgba(232, 33, 39, 0.2);
}
