@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal-animation {
    animation: slideUp 0.3s ease-out;
}
.logo-white-hover {
    filter: none;
    transition: filter 0.3s ease-in-out;
}

.group:hover .logo-white-hover {
    filter: brightness(0) invert(1);
}

.bg-primary:hover .logo-white-hover {
    filter: brightness(0) invert(1);
}

.invert-brightness {
    filter: brightness(0) invert(1);
}

.tesla-card {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.tesla-card:hover {
    background-color: rgba(232, 33, 39, 0.2);
}

.no-hover-effects .group:hover {
    background-color: initial;
    color: initial;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal-animation {
    animation: slideUp 0.3s ease-out;
}
.fontcolor{
    color: #555555;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 14px;
    word-wrap: break-word
}